/* General Styles */
html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0 -20px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pfp {
    height: 40px;
    width: auto;
    border-radius: 50%;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
        z-index: 9;
}

.header button {
    display: none;
    padding: 10px;
    background-color: transparent;
    border: 0;
    font-style: sans-serif;
}

.header ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 30px;
    transition: color 0.3s;
}

.header a:hover {
    color: #0073e6;
}

/* Sections */
.about, .project_header, .contacts {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.about_photo {
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #000;
}

.about_text, .projects_text, .contact_link, .fiverr_link {
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 600px;
    color: black;
    text-decoration: none;
}


.projects_text{
    font-weight: 600;
}

.live-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.code-live{
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

.projects-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: -10px;
    max-width: 1000px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    margin-bottom: 50px;
}


.project{
    display: inline-block;
    background-color: aqua;
    padding: 4px 8px;
    border-radius: 10px;
}

.projects-wrapper img {
    max-width: 600px;
    object-fit: cover;
}



.projects-wrapper button{
    height: 65px;
    width: 65px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 40%;
}

.projects .project{
    display: none;
}

.projects .project:first-child{
    display: inline-block;
}

.contact_link:hover, .fiverr_link:hover {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.3s;
}

/* Responsive for small screens */
@media (max-width: 600px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .header button {
        display: flex;
    }

    .header ul{
        display: none;
        background-color: lightsteelblue;
        position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            top: 27px;
    }

    .projects img{
        max-width: 300px;
    }
}
